/* dark mode */
.comment {
    color: rgb(82,153,73);
}

.mnemonics {
    color: rgb(62,156,202);
}

.control {
    color: lightblue
}

.code {
    color: white;
}

/* light mode
.comment {
    color: lightslategrey;
}

.mnemonics {
    color: lightcoral;
}

.control {
    color: #855
}
*/