/* dark mode */
.comment {
    color: rgb(82,153,73);
}

.mnemonics {
    color: rgb(62,156,202);
}

.control {
    color: lightblue
}

.code {
    color: white;
}

.hlhex {
    color: rgb(181,192,119);
}
.hlbin {
    color: rgb(181,192,119);
}
.hldec {
    color: rgb(181,192,119);
}
/* light mode
.comment {
    color: lightslategrey;
}

.mnemonics {
    color: lightcoral;
}

.control {
    color: #855
}
*/