/* Light Mode styles */
body {
  color: #222;
  background: #fff;
}
a {
  color: #0033cc;
}

/* Dark Mode styles */
body.dark-theme {
  color: #eee;
  background: rgb(37,37,37)
}
body.dark-theme a {
  color: #030303;
}

html.dark-theme {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;

  ::-webkit-scrollbar { width: 12px; height: 3px;}
  ::-webkit-scrollbar-button {  background-color: rgb(66,66,66); }
  ::-webkit-scrollbar-track {  background-color: red;}
  ::-webkit-scrollbar-track-piece { background-color: rgb(30,30,30);}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(66,66,66); border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: rgb(66,66,66);}
  ::-webkit-resizer { background-color: red;} 
}

.disasm-menu {
    width: 100%;
}

  .code {
    border-collapse:collapse;
  }

  .code tr {
    height: 20px;
    white-space: pre;
  }


/* breakpoint icons */
  .code .nobrk {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  .code .breakpoint {
    width: 18px;
    height: 18px;
    display: inline-block;    
    background: url("/images/breakpoints.png") no-repeat;
    background-position: 0px 0px;
  }

  .code .exec-breakpoint {
    width: 18px;
    height: 18px;
    display: inline-block;    
    background: url("/images/breakpoints.png") no-repeat;
    background-position: 0px -20px;
  }

  .code .exec {
    width: 18px;
    height: 18px;
    display: inline-block;    
    background: url("/images/breakpoints.png") no-repeat;
    background-position: -40px 0px;
  }

/* breakpoint menu bar */
.debug-bar {
  width: 200px; /* Set a specific width */
  background-color: #eee; /* Dark-grey background */
  height: 40px;
}
.debug-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  padding: 12px 0; /* Some top and bottom padding */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
  width: 32px;
  height: 8px;
  display: inline-block;    
  background: url("/images/debug-bar.png") no-repeat;
}
.debug-bar a:hover {
  background-color: #999; /* Add a hover color */
}
.disabled-link {
  pointer-events: none;
  opacity: 0.25;
}
.debug-bar #continue {
  background-position: 0px 0px;
}
.debug-bar #run {
  background-position: 0px -32px;
}
.debug-bar #stepinto {
  background-position: -32px -32px;
}
.debug-bar #stepout {
  background-position: -64px 0px;
}
.debug-bar #stepover {
  background-position: -64px -32px;
}
.debug-bar #restart {
  background-position: -32px 0px;
}
.debug-bar .pause {
  background-position: -192px 0px;
}


  .code .pc {
    background: rgb(75,75,24);
  }

  .addr {
    border-right-style: solid;
    border-right-color: ccc;
    border-right-width: 1px;
    padding-right: 10px;
  }

  .source-instr {
    padding-left: 10px;
  }

  .memory-changed {
    color: red;
  }

  .memory-monitor {
    background-color: #eee;
  }

  .watch_changed {
    color: red;
  }

  .updated {
    color: rgb(238, 196, 10);
  }

  .watch_unchanged {
  }

  .jstree-default-dark {
    background: inherit;
  }