nav div {
  padding: 0.6em;
  background: #e3e3e3;
  display: none;
  cursor: pointer;
  color: #292929;
  font-size: 24px;
}

nav ul {
  margin: 0px;
  padding: 0px;
  /*background: #e3e3e3;*/
  list-style-type: none;
  position: relative;
  z-index: 100;
  width:200px;
}

nav ul li {
  display: inline-block;
  background: #e3e3e3;
}

nav ul li a {
  padding: 11px;
  color: #292929;
  text-decoration: none;
  display: block;
}

nav ul li:hover {
  background: lightgrey;
}

nav ul ul {
  position: absolute;
  min-width: auto;
  background: lightgrey;
  display: none;
}

nav ul ul li {
  display: block;
  background: #e3e3e3;
}

nav ul li:hover ul {
  display: block;
}

@media (max-width: 768px) {
  nav div {
    display: block;
  }
  nav ul {
    display: none;
    position: static;
    background: #e3e3e3;
  }
  nav ul li {
    display: block;
  }
  nav ul ul {
    position: static;
    background: #e3e3e3;
  }
}